@import "../../themes/ionic.globals";

ion-virtual-scroll {
  display: block;
  position: relative;
  width: 100%;

  contain: strict;
}

.virtual-item {
  @include position(0, 0, null, 0);

  height: 45px;
  will-change: transform;
  position: absolute;
  contain: strict;
}
